{% extends "ms_pages/base.html" %}
{% load staticfiles %}

{% block header %}
  <div class='container'>
    <h1>Hi Maplers! <small>  Find your favorite topic below</small></h1>
  </div>
{% endblock header %}






{% block content %}

<a href="{% url 'ms_pages:news' %}" style='text-decoration: none'>
  <div class="jumbotron jumbotron-fluid bg-mapleleaf-001">
    <div class="container">
      <h1 class="display-3">News</h1>
      <!--
      <p class="lead">Find the topic you are interested in below and view the latest news of Maplestory here!  </p>
    -->
    </div>
  </div>
</a>

<a href="{% url 'ms_pages:forum' %}" style='text-decoration: none'>
    <div class="jumbotron jumbotron-fluid bg-mapleleaf-002">
      <div class="container">
        <h1 class="display-3">Forum</h1>

        </div>
    </div>
</a>

<a href="{% url 'ms_pages:music' %}" style='text-decoration: none'>
  <div class="jumbotron jumbotron-fluid bg-bgm">
    <div class="container">
      <h1 class="display-3">Music</h1>

    </div>
  </div>
</a>

<a href="{% url 'ms_pages:ingame_db' %}" style='text-decoration: none'>
  <div class="jumbotron jumbotron-fluid bg-db">
    <div class="container">
      <h1 class="display-3">In-Game Database</h1>

    </div>
  </div>
</a>

<a href="{% url 'ms_pages:itcg' %}" style='text-decoration: none'>
  <div class="jumbotron jumbotron-fluid bg-itcg">
    <div class="container">
      <h1 class="display-3">Maplestory ITCG</h1>

    </div>
  </div>
</a>

<a href="{% url 'ms_pages:ms2' %}" style='text-decoration: none'>
  <div class="jumbotron jumbotron-fluid bg-ms2">
    <div class="container">
      <h1 class="display-3">Maplestory 2</h1>

    </div>
  </div>
</a>
{% endblock content %}
