{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MapleSnow | under construction</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/static_dirs/css/style.css' %}">

  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default" style="">
      <div class="container">

        <div class="navbar-header">

        </div>

        <div class="navbar-collapse collapse">
          <ul id=high1 class="nav navbar-nav">
            <li><a href="{% url 'ms_pages:home' %}">MapleSnow</a></li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a>Hello, {{ user.username }}.</a></li>
              <li><a href="{% url 'users:logout' %}">log out</a><li>
            {% else %}
              <li><a href="{% url 'users:register' %}">register</a></li>
              <li><a href="{% url 'users:login' %}">log in</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>



      <div class="jumbotron jumbotron-fluid bg-home" style='height: 720px'>
        <div class="container">
          <h1 class="display-3">Hello Maplers!</h1>

            <p class="lead">Here is what you can do on MapleSnow:</p>
            <ul class='lead'>
              <li>Find out the latest news of Maplestory.</li>
              <li>Post topics and discuss with others.</li>
              <li>Find out collections of ingame BGMs and other maplestory related music.</li>
              <li>Learn the basic of each class of maplestory and searching for over 40000 items in the game.</li>
              <li>Access to the database of every set in maplestory trade card game(ITCG). </li>
              <li>Learning latest events in maplestory 2.</li>
            </ul>

        </div>
      </div>

<br>
<br>
<div class="container">

  <h1 style='text-align: center'>Find your favorite topic below:</h1>

</div>
<br>
<br>
<br>

    <div class="container">
      <div class="row">
        <div class="col-xs-6">

          <a href="{% url 'ms_pages:news' %}" style='text-decoration: none; margin-bottom:0px'>
            <div class="jumbotron jumbotron-fluid bg-mapleleaf-001" style='height: 400px'>
              <div class="container">
                <h1 class="display-3">News</h1>

                <p class="lead">Find out the latest news of Maplestory.</p>

              </div>
            </div>
          </a>

        </div>

        <div class="col-xs-6">

          <a href="{% url 'ms_pages:forum' %}" style='text-decoration: none; margin-top:0px'>
              <div class="jumbotron jumbotron-fluid bg-mapleleaf-002" style='height: 400px'>
                <div class="container">
                  <h1 class="display-3">Forum</h1>

                    <p class="lead">Post topics and discuss with others.</p>

                  </div>
              </div>
          </a>

        </div>

      </div>

    </div>




<div class="container">
  <div class="row">
    <div class="col-xs-6">

      <a href="{% url 'ms_pages:music' %}" style='text-decoration: none'>
        <div class="jumbotron jumbotron-fluid bg-bgm-home" style='height: 400px'>
          <div class="container">
            <h1 class="display-3">Music</h1>

              <p class="lead">Find out collections of ingame BGMs and other maplestory related music.</p>

          </div>
        </div>
      </a>

    </div>

    <div class="col-xs-6">

      <a href="{% url 'ms_pages:ingame_db' %}" style='text-decoration: none'>
        <div class="jumbotron jumbotron-fluid bg-db-home" style='height: 400px'>
          <div class="container">
            <h1 class="display-3">In-Game Database</h1>

              <p class="lead">Learn the basic of each class of maplestory and searching for over 40000 items in the game.</p>

          </div>
        </div>
      </a>

    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xs-6">

      <a href="{% url 'ms_pages:itcg' %}" style='text-decoration: none'>
        <div class="jumbotron jumbotron-fluid bg-itcg-home" style='height: 400px'>
          <div class="container">
            <h1 class="display-3">Maplestory ITCG</h1>

              <p class="lead">Access to the database of every set in maplestory trade card game.</p>

          </div>
        </div>
      </a>

    </div>

    <div class="col-xs-6">

      <a href="{% url 'ms_pages:ms2' %}" style='text-decoration: none'>
        <div class="jumbotron jumbotron-fluid bg-ms2-home" style='height: 400px'>
          <div class="container">
            <h1 class="display-3">Maplestory 2</h1>

              <p class="lead">Learning latest event in maplestory 2.</p>

          </div>
        </div>
      </a>


    </div>
  </div>
</div>











    <!-- /container -->

  </body>


<hr>

  <footer class="footer">
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <span class="text-muted">
            <p>MapleStory is copyright ©2003-2017 by Nexon corporation. Informations obtained
            from MapleSnow are applies to Nexon's Terms of Use.</p>
            <p>MapleSnow is a not-for-profit website aimed at providing MapleStory
              players the best possible information.</p>
            <br>
            <p>A site by Wenchang Li.</p>
            <p>Contact: sastwdnoz@gmail.com</p>

          </span>
        </div>
        <div class="col-md-3">

        </div>

      </div>
    </footer>

<br>


</html>
