{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Wildhunter</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_bowman' %}">Bowman</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_bowman_wildhunter' %}">Wildhunter</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Wild Hunter Overview:</h3>
    <p>
      The Wild Hunter is a member of the Resistance, and fights for the liberation of Edelstein, her hometown, currently occupied by the Black Wings. The Wild Hunter has a unique relationship with wildlife, and has trained a fierce jaguar to be her war mount. Pouncing into battle atop a giant cat, the Wild Hunter strikes fear into the hearts of her enemies as she peppers them with arrow volleys. However, Wild Hunters aren't given jaguars as pets; they have to earn the right to ride one. In order to access most of the Wild Hunter's skills, you'll have to track and tame a jaguar yourself.
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/LLRI7TofKnU?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
