{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Beasttamer</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_magician' %}">Magician</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_magician_beasttamer' %}">Beasttamer</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-md-5">
    <h3>Beast Tamer Overview:</h3>
    <p>
      Chase always dreamed of being a hero, but never had much opportunity for adventure in her small town. That all changed when she met Arby the cat. Via Arby’s mysterious powers, Chase has gained the ability to speak to animals. Now she's set off on her very own adventure, and some of Arby's animal buddies are coming along for the ride. Choose the Beast Tamer class and you'll get to fight alongside a bear, a snow leopard, a hawk and of course Arby, your loyal kitty friend. Chase is special in that she has different attack modes for each of her animals. Take control of Eka the hawk for increased mobility, or call on Fort, the loveable if dimwitted bear, for massive damage. Chase is one of the most versatile characters in the game, and the perfect choice for animal lovers.
    </p>
  </div>
  <div class="col-md-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/QWpu4XJCit8?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
