{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Dual blade</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_thief' %}">Thief</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_thief_dualblade' %}">Dual blade</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Dual Blade Overview:</h3>
    <p>
      Nimble and acrobatic, Dual Blades are rogue thieves that have forsaken the Dark Lord that rules their guild. Armed with a dagger in one hand and a katara in the other, Dual Blades receive numerous attack bonuses and can obtain an extremely high critical hit rate. The highly mobile Dual Blade can chain together flashy combos and has one of the highest dodge rates in the game.
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/7vT8qDulKWo?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
