{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Battlemage</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_magician' %}">Magician</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_magician_battlemage' %}">Battlemage</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Battle Mage Overview:</h3>
    <p>
      The Battle Mage is a member of the Resistance, freedom fighters opposed to the Black Mage and the organization seeking to revive him, the Black Wings. Unlike normal Magicians, the Battle Mage specializes in fast, close-quarters combat. He is a powerful teammate, capable of casting auras that will aid his party while he bashes multiple enemies at once with his glowing staff. If you're the kind of player who loves magic but also wants to fight monsters up close and personal, then the Battle Mage is for you.
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/ApJno_V3jPQ?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
