{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Cannoneer</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_pirate' %}">Pirate</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_pirate_cannoneer' %}">Cannoneer</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-md-5">
    <h3>Cannoneer Overview:</h3>
    <p>
      The Cannoneer wields a deadly hand cannon forged by the Nautilus’ resident inventor, Cutter. A playful monkey the Cannoneer befriended on Coco Island provides attack support. The Cannoneer's titular weapon deals massive damage and has a wide attack range. In addition dealing powerful hits, the Cannoneer can use his Pirate Blessing skill to buff other characters on the same account. And c'mon... who doesn't want a monkey for a best friend?
    </p>
  </div>
  <div class="col-md-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/4DENXeeaz1Q?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
