{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Angelicbuster</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_pirate' %}">Pirate</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_pirate_angelicbuster' %}">Angelicbuster</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-md-5">
    <h3>Angelic Buster Overview:</h3>
    <p>
      A member of the Nova race- half-human, half-dragon hybrids - Tear was an outcast from the moment she was born. Without a tail and with no magical powers, Tear was shunned by her elders and peers alike. Destiny found the young girl when she foiled a robbery attempt by Magnus, one of the Black Mage's commanders. Though she foiled his theft of a special gauntlet, the relic is now fused to her arm and has given her special powers. No longer a pariah, Tear has transformed into the superhero known as the Angelic Buster. The Angelic Buster can only be played as a female character, wears Pirate class gear, and comes equipped with a Soul Shooter for a weapon and a Soul Ring for a shield. She also comes with Soul Battery skills, powerful attacks that are only rechargeable by attacking enemies. Skills like Feather Hop and Grappling Heart give the Angelic Buster some of the best mobility of any MapleStory class.
    </p>
  </div>
  <div class="col-md-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/tuFnBksUiqc?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
