{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Kinesis</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_magician' %}">Magician</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_magician_kinesis' %}">Kinesis</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Kinesis Overview:</h3>
    <p>
      Kinesis is a local hero in the city located within the FriendStory world. Gifted with the power of telekinesis, he uses these powers for good, protecting the citizens and becoming a local hero. But one day, he encounters the White Mage and events spiral out of control: His psychic powers create a sinkhole in the city that is also a portal to Maple World. Many citizens of the city fall through this portal, and it’s up to Kinesis to rescue them and save both worlds! Kinesis uses Intelligence as his main stat and is armed with a PSY Limiter as his primary weapon and a Chess Piece as his secondary. Kinesis uses telekinesis to attack monsters and control nearby objects, hurling them through the air. Using regular skills earns Kinesis Psychic Points (PP), which can then be used to power several different Ultimate skills.
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/Br9YP9q3mpw" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
