{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Kaiser</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior' %}">Warrior</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior_kaiser' %}">Kaiser</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-md-5">
    <h3>Kaiser Overview:</h3>
    <p>
      Long ago, a mysterious race called the Nova lived in peace on their homeworld of Grandis. Half human, half dragon, the Nova were protected by Kaiser, a legendary warrior, until the traitorous Nova warrior Magnus invaded their lands. Though he fought valiantly, Kaiser had no choice but to sacrifice himself to stop Magnus and his army. Now, many years later, a young Nova boy named Kyle has inherited Kaiser's powers. Does he have what it takes to be Pantheon's new champion? Kaiser wields a massive two-handed sword and can quickly move about the battlefield with skills like Air Lift and Vertical Grapple. Performing combos and special attacks fills up his Morph Gauge, which once full, allows Kaiser to morph into his true form, making him nigh invincible for a short time.
    </p>
  </div>
  <div class="col-md-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/EzSBXMJYNRs?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
