{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Xenon</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_thief' %}">Thief</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_thief_xenon' %}">Xenon</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-md-5">
    <h3>Xenon Overview:</h3>
    <p>
      Kidnapped by the Black Wings, Xenon was experimented on and given cybernetic enhancements. Years later, members of the Edelstein Resistance raided the lab and freed him. Now he roams the land, desperately trying to regain his memories and his identity. Xenon can equip Thief and Pirate gear without the need to meet their stat requirements, and has three main stats instead of just one. Some of his attacks have alternate modes and can be utilized in different ways. In addition to Mana, Xenon can use an energy supply unique to him to power his skills. Xenon wields a lethal energy whip that can cut through nearly anything.
    </p>
  </div>
  <div class="col-md-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/RQTytLlEJQg?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
