{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}
<div class="container">
  <h1>Monster</h1>
</div>
{% endblock header %}

{% block breadcrumb %}
<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_items' %}">Monster</a></li>
    </ol>
  </div>
</section>
{% endblock breadcrumb %}

{% block content %}
<h2>We are still trying to find API services that provide maplestory in-game monsters informations. If
you know anything you can contact me: sastmdnoz@gmail.com </h2>
{% endblock content %}
