{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Thunder breaker</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_pirate' %}">Pirate</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_pirate_thunderbreaker' %}">Thunder breaker</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Thunder Breaker Overview:</h3>
    <p>
      Thunder Breakers are pirates with a love of storms. Why? What kind of madman would sail head-on into a typhoon??!! Well, Thunder Breakers are Cygnus Knights blessed by Lightning, the spirit of- you guessed it -lightning, meaning that choppy waters are their favorite place to be. Also, they live on the floating island of Ereve, so there's that. Thunder Breakers use knuckles as their main weapon and are useful over both short and long distances. They can also literally throw sharks at people. SHARKS, you guys. SHARKS.
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/HWOrJhphp7c?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
