{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}
<div class="container">
  <h1>Pirate</h1>
</div>
{% endblock header %}

{% block breadcrumb %}
<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_pirate' %}">Pirate</a></li>
    </ol>
  </div>
</section>
{% endblock breadcrumb %}


{% block  content %}
<!-- first row -->
<div class="row">
  <a href="{% url 'ms_pages:ingame_db_classandjob_pirate_explorer' %}">
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-heading color-bg-1">
          <h3 class='panel-title'>Explorer</h3>
        </div>
        <div class="panel-body color-bg-2">
          <img src="{% static '/static_dirs/images/pirate_explorer_001.png' %}" class='img-responsive' alt='pirate_explorer_001' style='height:280px'>
        </div>
      </div>
    </div>
  </a>

  <a href="{% url 'ms_pages:ingame_db_classandjob_pirate_angelicbuster' %}">
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-heading color-bg-1">
          <h3 class='panel-title'>Angelicbuster</h3>
        </div>
        <div class="panel-body color-bg-2">
          <img src="{% static '/static_dirs/images/pirate_angelicbuster_001.png' %}" class='img-responsive' alt='pirate_angelicbuster_001' style='height:280px'>
        </div>
      </div>
    </div>
  </a>

  <a href="{% url 'ms_pages:ingame_db_classandjob_pirate_cannoneer' %}">
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-heading color-bg-1">
          <h3 class='panel-title'>Cannoneer</h3>
        </div>
        <div class="panel-body color-bg-2">
          <img src="{% static '/static_dirs/images/pirate_cannoneer_001.png' %}" class='img-responsive' alt='pirate_cannoneer_001' style='height:280px'>
        </div>
      </div>
    </div>
  </a>

</div>


<!-- second row -->
<div class="row">
  <a href="{% url 'ms_pages:ingame_db_classandjob_pirate_jett' %}">
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-heading color-bg-1">
          <h3 class='panel-title'>Jett</h3>
        </div>
        <div class="panel-body color-bg-2">
          <img src="{% static '/static_dirs/images/pirate_jett_001.jpg' %}" class='img-responsive' alt='pirate_jett_001' style='height:280px'>
        </div>
      </div>
    </div>
  </a>

  <a href="{% url 'ms_pages:ingame_db_classandjob_pirate_mechanic' %}">
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-heading color-bg-1">
          <h3 class='panel-title'>Mechanic</h3>
        </div>
        <div class="panel-body color-bg-2">
          <img src="{% static '/static_dirs/images/pirate_mechanic_001.png' %}" class='img-responsive' alt='pirate_mechanic_001' style='height:280px'>
        </div>
      </div>
    </div>
  </a>

  <a href="{% url 'ms_pages:ingame_db_classandjob_pirate_shade' %}">
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-heading color-bg-1">
          <h3 class='panel-title'>Shade</h3>
        </div>
        <div class="panel-body color-bg-2">
          <img src="{% static '/static_dirs/images/pirate_shade_001.png' %}" class='img-responsive' alt='pirate_shade_001' style='height:280px'>
        </div>
      </div>
    </div>
  </a>

</div>


<!-- third row -->
<div class="row">
  <a href="{% url 'ms_pages:ingame_db_classandjob_pirate_thunderbreaker' %}">
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-heading color-bg-1">
          <h3 class='panel-title'>Thunderbreaker</h3>
        </div>
        <div class="panel-body color-bg-2">
          <img src="{% static '/static_dirs/images/pirate_thunderbreaker_001.png' %}" class='img-responsive' alt='pirate_thunderbreaker_001' style='height:280px'>
        </div>
      </div>
    </div>
  </a>


</div>




{% endblock content %}
