{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Aran</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior' %}">Warrior</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior_aran' %}">Aran</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Aran Overview:</h3>
    <p>
      Aran is one of the most legendary figures in Maple World history, one of the Six Heroes who sealed away the Black Mage and all his evil many ages ago. Before the villain was defeated, he cursed Aran and incased her in a prison of ice. Forgotten to the sands of time, Aran was lost... until now. Though she has been released from her icy cage, Aran's memories are fuzzy, and so are her abilities. The more she remembers of her past, the more powers she will unlock. Aran can use her polearm to unleash powerful combos and can freeze baddies with chilling ice skills. Aran racks up Combo Points the more consecutive hits she lands, and can use said points for even more destruction.
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/vuwn0vTWfVo?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
