{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Evan</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_magician' %}">Magician</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_magician_evan' %}">Evan</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-md-5">
    <h3>Evan Overview:</h3>
    <p>
      Evan was just a simple farm boy until he stumbled across a mysterious dragon egg. Sealed away for centuries after the Black Mage cursed the Onyx Dragons, the egg lay hidden, waiting for a true hero to awaken the beast within... a hero just like Evan. Evan's dragon Mir is a steadfast companion. He starts the game as a mere hatchling, but as Evan levels up, Mir grows larger. Mir is Evan's primary method of attack, capable of blasting enemies with his elemental breath attacks. Evan can eventually learn the Monster Rider skill, allowing him to ride atop Mir's back like a true dragon tamer.
    </p>
  </div>
  <div class="col-md-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/BgBglcqxLqk?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
