{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Demon Avenger</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior' %}">Warrior</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior_demonavenger' %}">Demon Avenger</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Demon Avenger Overview:</h3>
    <p>
      The Demon was one of the Black Mage's most loyal commanders before his master betrayed him and burned down his village. The Demon joined in the resistance against the Black Mage, but like the Six Heroes, was sealed away for centuries. Now in the present day, the Demon has joined the Resistance and is determined to hunt down the Black Mage and make him pay. But first, he must choose between the path of the Slayer or the path of the Avenger. The Avenger uses Hit Points (HP) for his skills, and thus has no Mana Points (MP). This means the Avenger can stock up on mesos, the in-game currency, as he doesn't need to buy any MP potions. Skills like Life Sap help counter the Avenger's ever–lowering HP from skill consumption, as he can siphon enemies of their life to restore himself. A true rogue, the Avenger uses Desperados as his weapon of choice.
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/nTsXdcW2Luc?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
