{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Phantom</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_thief' %}">Thief</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_thief_phantom' %}">Phantom</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Phantom Overview:</h3>
    <p>
      The greatest thief who ever lived, Phantom is one of the Six Heroes who fought the Black Mage hundreds of years ago. Before that fateful battle, Phantom had amassed a massive fortune from his crafty heists, and evaded the authorities by taking to the skies in his airship, the Lumiere. Phantom's heart was forever broken when agents of the Black Mage murdered the love of his life, the Empress Aria. Revived after being imprisoned in ice for years, Phantom is determined to stop Hilla, a vile necromancer, from assassinating the new emperor. Phantom is armed with a Cane and throwing Cards, and is craftier than your average Thief. Phantom has the power to copy the skills of characters in the various Explorer classes (Warrior, Magician, Bowman, Thief, Pirate, etc.). Even better, Phantom has one of the highest mobility and evasion rates in the game. If that weren't awesome enough, Phantom can also drive cars at level 50... because technology sure did advance since he went to sleep.
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/4Ps5jZigx8w?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
