{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Kanna</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_magician' %}">Magician</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_magician_kanna' %}">Kanna</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-md-5">
    <h3>Kanna Overview:</h3>
    <p>
      In 1582 the mad warlord Oda Nobunaga finally seized control of Japan. Seeking immortality, Oda attempted a drastic ritual in the temple of Honnou-ji, but was thwarted thanks to the efforts of a young priestess of the occult named Kanna. This victory came at a cost: as Oda dueled with a young samurai and Kanna performed her counter-spells, a pillar of light erupted from the temple and transported the three to a mysterious new world. Oda Nobunaga will never rest until he has attained eternal life, no matter the world. It's up to Kanna to stop him and protect her new home from his evil magic. Kanna is a variant of the Magician class and is armed with a magical fan, and is accompanied by a familiar, the spirit fox Haku. Kanna calls upon ghostly wraiths to aid her in combat, and has her own, special form of quickly-regenerating Mana. Those looking for a unique twist on the average magic-user would do well to choose Kanna.
    </p>
  </div>
  <div class="col-md-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/45knzS67OIQ?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
