{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Dawn Warrior</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior' %}">Warrior</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior_dawnwarrior' %}">Dawn Warrior</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Dawn Warrior Overview:</h3>
    <p>
      A soldier of truth, a light in the darkness, the Dawn Warrior is a strong swordsman with unparalleled skill. Loyal to Empress Cygnus, the Dawn Warrior is protected by Sol, the spirit of light. The Dawn warrior channels the powers of the sun and the moon into strong attacks and has high defense. With a variety of combos and skills, each with varying effects, Dawn Warriors are perfect for players looking for a more strategic challenge.


    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/RK0jMgM9Ul8?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
