{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Explorer</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_thief' %}">Thief</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_thief_explorer' %}">Explorer</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Thief Overview:</h3>
    <p>
      Thieves are born sneaks. They're skilled at dodging attacks and are particularly fond of stealth, using their abilities to evade enemies or hide from them entirely. While out of sight, a Thief can slip past baddies unnoticed, or get into position for a sneak attack. Armed with daggers, claws and throwing stars, a Thief can unleash a lightning-fast flurry of blows that will take monsters by surprise. When Explorer-type Thieves reach a certain level, they can choose between two different specializations: Night Lord or Shadower.
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/wUrbDjiGo04?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
