{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Blaster</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior' %}">Warrior</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior_blaster' %}">Blaster</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Blaster Overview:</h3>
    <p>
      Blaster is a member of the Resistance, freedom fighters opposed to the Black Mage and the organization seeking to revive him, the Black Wings. A stout warrior, Blaster uses Strength as his main stat and is armed with two heavy weapons—the Arm Cannon (main) and the Charges (secondary). By firing massive shots with the Arm Cannon, Blaster fills up the Dynamo Gauge, which can be released to cause massive damage once the gauge is full. Blaster can also use skills in combination to perform even more devastating attacks.
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/9bsne5eXw7U" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
