{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Jett</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_pirate' %}">Pirate</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_pirate_jett' %}">Jett</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Jett</h3>
    <p>
      Jett isn't like other heroes. A spacefaring bounty hunter from the planet Cerberus, Jett was forced to flee her home for Maple World after she was framed for the king's murder. Her former partner Burke betrayed her and stripped her of the Core, the source of her extraterrestrial powers. Now she roams Maple World, plotting her revenge, and vowing to make Burke pay for what he has taken from her. Jett uses a gun as her primary weapon, and her high speed and excellent jumping abilities allow her to move into good firing positions. She can also use a small piece of the Core to boost her stats and the stats of another character on the same account.
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/iky-GvJ0rMQ?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
