{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Explorer</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior' %}">Warrior</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior_explorer' %}">Explorer</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Warrior Overview:</h3>
    <p>
      The Warrior is a solid, well-rounded character perfect for players new to MapleStory. This character excels at defense, with large amounts of health and access to powerful suits of armor. These strengths help keep the Warrior protected when engaged in close-quarters combat against hordes of monsters. Warriors can wield the widest array of weapons in the game, including everything from swords and axes to spears and blunt weapons, as well as shields, and can specialize in their favorites as they level up. Warriors hail from the town of Perion, located in the northern highlands of Victoria Island. When Explorer-type Warriors reach a certain level, they can choose between three different specializations: Fighter, Page or Spearman. They can continue to level and grow, to ultimately become a Hero, Paladin or Dark Knight.
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/J_7nyuk43Mk?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
