{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Demon Slayer</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior' %}">Warrior</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior_demonslayer' %}">Demon Slayer</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Domon Slayer Overview:</h3>
    <p>
      The Demon was one of the Black Mage's most loyal commanders before his master betrayed him and slew his family. The Demon joined in the resistance against the Black Mage, but like the Six Heroes, was sealed away for centuries. Now in the present day, the Demon has joined the Resistance and is determined to hunt down the Black Mage and make him pay. But first, he must choose between the path of the Slayer or the path of the Avenger. The Demon Slayer uses a special gauge called Demon Fury for his skills instead of Mana Points (MP), and can recover Fury by inflicting damage on monsters. He is more versatile than an average Warrior, with skills that cause area of effect damage and wings that let him launch high in the air or glide into tactical positions. He has high defense and can perform strong combos, making the Slayer a well-rounded character that can be played in a variety of styles.
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/EXbXKIuvc1g?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
