{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Luminous</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_magician' %}">Magician</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_magician_luminous' %}">Luminous</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Luminous Overview:</h3>
    <p>
      Luminous is one of the Six Heroes who defeated the Black Mage many eons past. He was the last hero standing during that climactic battle, and delivered the final blow. Despite this victory, Luminous was tainted by the Black Mage's evil, and pitched into a fitful sleep for many years. Centuries later, Luminous awakes, but he has been changed. Luminous' righteous heart finds itself in danger of falling to the Black Mage's corruption as the hero wrestles with his dual nature. Is he good or is he evil? Luminous isn't sure, but he's embarking on a quest to find out. Luminous is armed with a Shining Rod and an Orb and has a unique quest line that differs greatly from the rest of MapleStory's classes. Luminous' dual nature threatens to tear him apart—will he choose the path of light or the path of darkness?
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/v6B8v0oM6Jw?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
