{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Blazewizard</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_magician' %}">Magician</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_magician_blazewizard' %}">Blazewizard</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Blaze Wizard Overview:</h3>
    <p>
      Blaze Wizards are powerful magicians of the Cygnus Knights that, like their name implies, can command fire. Blaze Wizards have a deep connection to Ignis, the Spirit of Fire, and can tap into the entity's power to unleash scorching destruction on their foes. Blaze Wizards may have low HP, but they more than make up for it with their awesome fire spells and attacks. When playing as a Blaze Wizard, always be aware of your surroundings... you don't want enemies to get in too close, so incinerate them from afar.
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/oovO49QVGTM?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
