{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Windarcher</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_bowman' %}">Bowman</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_bowman_windarcher' %}">Windarcher</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Wind Archer Overview:</h3>
    <p>
      Like the rest of the Cygnus Knights, Wind Archers share a bond with a specific elemental spirit, in this case Storm, the Spirit of Wind. Protectors of nature and all living things, Wind Archers can harness the power of wind to send their enemies spiraling. Like Explorer Bowmen, Wind Archers are most useful at long distances, but they also have their own unique abilities to help them control the field of battle.
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/laabhzkSH_E?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
