{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Mechanic</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_pirate' %}">Pirate</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_pirate_mechanic' %}">Mechanic</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-md-5">
    <h3>Mechanic Overview:</h3>
    <p>
      The Mechanic is a member of the Resistance and a pirate with a penchant for robotics. The Mechanic pilots a futuristic mech suit armed with devastating gadgets such as power drills and cannons. The Mechanic can easily traverse vertical terrain using rocket boosters, and can dash forward and smash enemies with a formidable drill attack. Using advanced tech, the Mechanic never has to replenish their mech's bullets, and can enter a special Siege Mode that lets them deliver even more rapid-fire attacks.
    </p>
  </div>
  <div class="col-md-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/teYSpsWKQl8?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
