{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Hayato</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior' %}">Warrior</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior_hayato' %}">Hayato</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Hayato Overview:</h3>
    <p>
      The year is 1582. The evil warlord Oda Nobunaga has taken control of Japan in his mad quest for immortality and few remain to challenge him. Feudal lords band together and march on Oda's forces for one final battle. As chaos rages all around, the valiant samurai Hayato races to stop Oda's sinister ritual, which if completed, could grant him eternal life. As their blades clash, a pillar of light erupts from the temple, pitching the two into a strange world... Maple World. Now Hayato must stop Oda before he corrupts yet another kingdom. Hayato is a variant of the Warrior class and comes equipped with a special katana. Skills like Surging Blade let him deliver quick sword attacks that obliterate enemies. Chain together combos perfectly and you'll be able to unleash Hayato's full potential. At level 50 Hayato can ride atop the Great Horse Onikageh, a mighty war mount.
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/mB48fL8NivE?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
