{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Mihile</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior' %}">Warrior</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_warrior_mihile' %}">Mihile</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-md-5">
    <h3>Mihile Overview:</h3>
    <p>
      Mihile was once nothing more than a poor, nameless orphan boy, until one fateful day, when the Empress herself walked onto the farm where he worked. Renamed Mihile, the Child of Light, the boy finally had a purpose: to become the champion Cygnus Knight legends have foretold. But to truly transform into the hero the world needs, Mihile will need to trace his ancestry, and track down his mysterious father... Mihile can only be played as male character and comes equipped with a sword and a special shield called a Soul Shield. After job advancement, he can acquire an even stronger shield.
    </p>
  </div>
  <div class="col-md-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/YZeuHU0qg4A?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
