{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Explorer</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_bowman' %}">Bowman</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_bowman_explorer' %}">Explorer</a></li>
    </ol>
  </div>
</section>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-xs-5">
    <h3>Bowman Overview:</h3>
    <p>
      Bowmen are nimble, long-range snipers. They have a variety of skills to help attack, evade danger, buff their damage, and launch arrows at groups of monsters. Bowmen can attack an enemy horde with arrow barrages, but are strongest attacking single targets from afar, as their long range is balanced by modest HP. Bowmen call the bustling town of Henesys, located in the southern part of Victoria Island, their home. When Explorer-type Bowmen reach a certain level, they can choose between two different specializations: Bowmaster or Marksman.
    </p>
  </div>
  <div class="col-xs-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/VJYtM9JYZ9Q?list=PLdHq6YxjJrMnams_kNB03CwMI_p8Uub9n" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

</div>
{% endblock content %}
