{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}
<div class="container">
  <h1>Thief</h1>
</div>
{% endblock header %}

{% block breadcrumb %}
<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob' %}">Classes and Jobs</a></li>
      <li class='active'><a href="{% url 'ms_pages:ingame_db_classandjob_thief' %}">Thief</a></li>
    </ol>
  </div>
</section>
{% endblock breadcrumb %}


{% block  content %}
<!-- first row -->
<div class="row">
  <a href="{% url 'ms_pages:ingame_db_classandjob_thief_explorer' %}">
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-heading color-bg-1">
          <h3 class='panel-title'>Explorer</h3>
        </div>
        <div class="panel-body color-bg-2">
          <img src="{% static '/static_dirs/images/thief_explorer_001.png' %}" class='img-responsive' alt='thief_explorer_001' style='height:280px'>
        </div>
      </div>
    </div>
  </a>

  <a href="{% url 'ms_pages:ingame_db_classandjob_thief_dualblade' %}">
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-heading color-bg-1">
          <h3 class='panel-title'>Dual Blade</h3>
        </div>
        <div class="panel-body color-bg-2">
          <img src="{% static '/static_dirs/images/thief_dualblade_001.png' %}" class='img-responsive' alt='thief_dualblade_001' style='height:280px'>
        </div>
      </div>
    </div>
  </a>

  <a href="{% url 'ms_pages:ingame_db_classandjob_thief_nightwalker' %}">
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-heading color-bg-1">
          <h3 class='panel-title'>Nightwalker</h3>
        </div>
        <div class="panel-body color-bg-2">
          <img src="{% static '/static_dirs/images/thief_nightwalker_001.png' %}" class='img-responsive' alt='thief_nightwalker_001' style='height:280px'>
        </div>
      </div>
    </div>
  </a>

</div>


<!-- second row -->
<div class="row">
  <a href="{% url 'ms_pages:ingame_db_classandjob_thief_phantom' %}">
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-heading color-bg-1">
          <h3 class='panel-title'>Phanton</h3>
        </div>
        <div class="panel-body color-bg-2">
          <img src="{% static '/static_dirs/images/thief_phantom_001.png' %}" class='img-responsive' alt='thief_phantom_001' style='height:280px'>
        </div>
      </div>
    </div>
  </a>

  <a href="{% url 'ms_pages:ingame_db_classandjob_thief_xenon' %}">
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-heading color-bg-1">
          <h3 class='panel-title'>Xenon</h3>
        </div>
        <div class="panel-body color-bg-2">
          <img src="{% static '/static_dirs/images/thief_xenon_001.png' %}" class='img-responsive' alt='thief_xenon_001' style='height:280px'>
        </div>
      </div>
    </div>
  </a>


</div>




{% endblock content %}
