{% load bootstrap3 %}


  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MapleSnow | under construction</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/static_dirs/css/style.css' %}">

  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default" style="">
      <div class="container">

        <div class="navbar-header">

        </div>

        <div class="navbar-collapse collapse">
          <ul id=high1 class="nav navbar-nav">
            <li><a href="{% url 'ms_pages:home' %}">MapleSnow</a></li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a>Hello, {{ user.username }}.</a></li>
              <li><a href="{% url 'users:logout' %}">log out</a><li>
            {% else %}
              <li><a href="{% url 'users:register' %}">register</a></li>
              <li><a href="{% url 'users:login' %}">log in</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>



      <div class="jumbotron jumbotron-fluid bg-itcg" style='height: 720px'>
        <div class="container">
          <h1 class="display-3">ITCG</h1>

          <div class="col-xs-6">

            <p class="lead">Maplestory Trading Card Game is a short live card game with both paper
            version and online version. There are totally five sets that have been released in NA and
            set 6 has been released in Korea. We have gathered the full card gallery informations
             for all the first five sets, and still working on finding information for the set 6.</p>
             <br>
             <p>For specific game rules and more information regarding the history of
                ITCG, you can check out Maplestory Card Game Guide: </p>

            <div class="">

              <p class="lead col-xs-3">
                <a class="btn btn-primary btn-lg" href="http://itcg.maplestorygameguide.com/rules.shtml" role="button">Maplestory Card Game Guide</a>
              </p>

            </div>

          </div>

          <div class="col-xs-6">

          </div>


        </div>
      </div>

      <br>
      <br>
      <div class="container">

        <h1 style='text-align: center'>View the full set card gallery:</h1>

      </div>
      <br>
      <br>
      <br>



      <div class="container">
        <div class="row">
          <div class="col-xs-6">

            <a href="{% url 'ms_pages:itcg_baseset' %}" style='text-decoration: none'>
              <div class="jumbotron jumbotron-fluid bg-itcg-set1" style='height: 400px'>
                <div class="container">
                  <h1 class="display-3"></h1>

                    <p class="lead"></p>

                </div>
              </div>
            </a>

          </div>

          <div class="col-xs-6">

            <a href="{% url 'ms_pages:itcg_omgbosses' %}" style='text-decoration: none'>
              <div class="jumbotron jumbotron-fluid bg-itcg-set2" style='height: 400px'>
                <div class="container">
                  <h1 class="display-3"></h1>
                  <div class="col-xs-6">
                    <p class="lead"></p>

                  </div>
                  <div class="col-xs-6">

                  </div>

                </div>
              </div>
            </a>


          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-6">

            <a href="{% url 'ms_pages:itcg_p3ts' %}" style='text-decoration: none'>
              <div class="jumbotron jumbotron-fluid bg-itcg-set3" style='height: 400px'>
                <div class="container">
                  <h1 class="display-3"></h1>

                    <p class="lead"></p>

                </div>
              </div>
            </a>

          </div>

          <div class="col-xs-6">

            <a href="{% url 'ms_pages:itcg_npcheroes' %}" style='text-decoration: none'>
              <div class="jumbotron jumbotron-fluid bg-itcg-set4" style='height: 400px'>
                <div class="container">
                  <h1 class="display-3"></h1>
                  <div class="col-xs-6">
                    <p class="lead"></p>

                  </div>
                  <div class="col-xs-6">

                  </div>

                </div>
              </div>
            </a>


          </div>
        </div>
      </div>


      <div class="container">
        <div class="row">
          <div class="col-xs-6">

            <a href="{% url 'ms_pages:itcg_beholdzakum' %}" style='text-decoration: none'>
              <div class="jumbotron jumbotron-fluid bg-itcg-set5" style='height: 400px'>
                <div class="container">
                  <h1 class="display-3"></h1>

                    <p class="lead"></p>

                </div>
              </div>
            </a>

          </div>

          <div class="col-xs-6">

            <a href="{% url 'ms_pages:itcg_dangersofthedeepsea' %}" style='text-decoration: none'>
              <div class="jumbotron jumbotron-fluid bg-underconstruction " style='height: 400px'>
                <div class="container">

                  <h1 class="display-3">Set 6: Dangers of Deep Sea</h1>
                  <div class="col-xs-6">
                    <p class="lead">There are 120 Cards In Total.</p>

                  </div>
                  <div class="col-xs-6">

                  </div>

                </div>
              </div>
            </a>


          </div>
        </div>
      </div>




      <hr>

        <footer class="footer">
            <div class="row">
              <div class="col-md-3">

              </div>
              <div class="col-md-6">
                <span class="text-muted">
                  <p>MapleStory is copyright ©2003-2017 by Nexon corporation. Informations obtained
                  from MapleSnow are applies to Nexon's Terms of Use.</p>
                  <p>MapleSnow is a not-for-profit website aimed at providing MapleStory
                    players the best possible information.</p>
                  <br>
                  <p>A site by Wenchang Li.</p>
                  <p>Contact: sastwdnoz@gmail.com</p>

                </span>
              </div>
              <div class="col-md-3">

              </div>

            </div>
          </footer>

      <br>
