{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>BGMs</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

  <section id='breadcrumb'>
    <div class="container">
      <ol class='breadcrumb'>
        <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
        <li class='active'><a href="{% url 'ms_pages:music' %}">Music</a></li>
        <li class='active'><a href="{% url 'ms_pages:music_bgms' %}">BGMs</a></li>

      </ol>
    </div>
  </section>



{% endblock breadcrumb %}


{% block content %}



  <div class="row">
    <div class="col-xs-5">
      <p>
        SlipySlidy completes the whole collection of maplestory in game BGMs, if you want to listen
        any one specific BGMs in game, you should check out his complete collection, it contains over
        600 BGMs.
      </p>
    </div>
    <div class="col-xs-4">
      <iframe width="440" height="320" src="https://www.youtube.com/embed/3neiOSwgp7A?list=PLARr36qkoiWauQAldeOiIxQvuTAI3KLIc"
      frameborder="0" gesture="media" allowfullscreen>
      </iframe>
    </div>

  </div>
  <hr>

  <div class="row">
    <div class="col-xs-5">
      <p>
        If you are not looking for specific BGMs, but rather listen to hours music compilation of
        maplestory BGMs, I have two recommendation for you:
      </p>
    </div>
    <div class="col-xs-4">
      <iframe width="440" height="320" src="https://www.youtube.com/embed/3DEkF2uvPoc"
      frameborder="0" gesture="media" allowfullscreen>
      </iframe>
    </div>

  </div>

<br>

  <div class="row">
    <div class="col-xs-5">
      <p>
        This compilation is much more relaxing and contains only slow relaxing BGMs. I used to listen
        this all the time while I am working.
      </p>
    </div>
    <div class="col-xs-4">
      <iframe width="440" height="320" src="https://www.youtube.com/embed/MO30O_f1nzU"
      frameborder="0" gesture="media" allowfullscreen>
      </iframe>
    </div>

  </div>


<hr>

  <div class="row">
    <div class="col-xs-5">
      <p>
        Finally this is a 10+ hours long compilation. If you by any chance need something like this.
      </p>
    </div>
    <div class="col-xs-4">
      <iframe width="440" height="320" src="https://www.youtube.com/embed/PfFpvHhzQhI"
      frameborder="0" gesture="media" allowfullscreen>
      </iframe>
    </div>

  </div>


{% endblock content %}
