{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>ITCG BGMs</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

  <section id='breadcrumb'>
    <div class="container">
      <ol class='breadcrumb'>
        <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
        <li class='active'><a href="{% url 'ms_pages:music' %}">Music</a></li>
        <li class='active'><a href="{% url 'ms_pages:music_others' %}">Others</a></li>
        <li class='active'><a href="{% url 'ms_pages:music_others_itcg' %}">ITCG BGMs</a></li>
      </ol>
    </div>
  </section>



{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-md-5">

    <p>
      Maplestory itcg online also has some unique BGMs. Unfortunately itcg online has been shutting down
      several years ago. Here are some compliation of BGMs on Youtube:
    </p>

  </div>
  <div class="col-md-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/4D6_p6N9jxc"
    frameborder="0" gesture="media" allowfullscreen>
    </iframe>
  </div>

</div>

<div class="row">
  <div class="col-md-5">

    <p>

    </p>

  </div>
  <div class="col-md-4">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/RZgMu5j8kn0"
    frameborder="0" gesture="media" allowfullscreen>
    </iframe>
  </div>

</div>




{% endblock content %}
