{% extends 'ms_pages/base.html' %}
{% load staticfiles %}

{% block header %}

<div class="container">
  <h1>Maplestory Orchestra Project</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

  <section id='breadcrumb'>
    <div class="container">
      <ol class='breadcrumb'>
        <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
        <li class='active'><a href="{% url 'ms_pages:music' %}">Music</a></li>
        <li class='active'><a href="{% url 'ms_pages:music_others' %}">Others</a></li>
        <li class='active'><a href="{% url 'ms_pages:music_others_budapestsymphony' %}">Maplestory Orchestra Project</a></li>
      </ol>
    </div>
  </section>



{% endblock breadcrumb %}

{% block content %}



  <div class="row">
    <div class="col-xs-5">
      <h3>Watch the teaser here:</h3>
      <p>
        The beloved and renowned music of MapleStory is finally reborn in a high-quality,
        full orchestra version recorded by the Symphonic Scoring Orchestra in Budapest – a city
        full of history, beautiful architecture and European romance.</p>
        <p>Celebrating 5000 days of MapleStory with an Orchestra Remake of the best OST tracks!
        Performed by Hungary's oldest orchestra & recorded in the heart of Budapest. Rearranged for
        Orchestra and produced by ASTERIA.
        </p>
        <p>There will be 12 masterpieces in total.</p>

      </p>

    </div>
    <div class="col-xs-4">
      <iframe width="440" height="320" src="https://www.youtube.com/embed/-rsuZhYDCmA"
      frameborder="0" gesture="media" allowfullscreen>
      </iframe>
    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-xs-5">
      <h3>1.When The Morning Comes</h3>
      <p>
        It is the music that greeted you in the teaser video which informs the start of
         this orchestra album. The theme song of 'Ellinia' map, the original melody was
          delayed and the effect was impressive and unique. But on this album, we made a
           bold attempt to reinterpret everything except the melody. It's like a classical
            music reminiscent of classical music with a sacred feelings that are completely
             different from the original song.
      </p>
      <ul style='position:left'>
        <li>Remade & Keyboard by 김가해</li>
        <li>Arranged & Orchestrated by 김가해, 김바로</li>
      </ul>
    </div>
    <div class="col-xs-4">
      <iframe width="440" height="320" src="https://www.youtube.com/embed/SWOEVxpuiqE"
      frameborder="0" gesture="media" allowfullscreen>
      </iframe>
    </div>

  </div>

<hr>

  <div class="row">
    <div class="col-xs-5">
      <h3>2.The Cygnus Garden</h3>
      <p>
        It is a song that feels the elegance and majesty of the female actress in elegant,
         powerful melody with the theme of the boss of 'Cygnus' in the future, 'Cygnus'. Waltz
          unique old-fashioned feeling met the symphony performance, did not you reborn in a
          more beautiful appearance?
      </p>
      <ul style='position:left'>
        <li>Remade & Keyboard by 김달우</li>
        <li>Arranged & Orchestrated by 김달우, 김바로</li>
      </ul>
    </div>
    <div class="col-xs-4">
      <iframe width="440" height="320" src="https://www.youtube.com/embed/J-9YAXTSRNU"
      frameborder="0" gesture="media" allowfullscreen>
      </iframe>
    </div>

  </div>

<hr>

  <div class="row">
    <div class="col-xs-5">
      <h3>3.Start The Adventure</h3>
      <p>
        One of the newly recorded tracks is 'Start the Adventure', a tune that
        players hear at the start screen of the game ever since the first MapleStory
         release! Aren’t you curious to find out how this track will bring back old memories?
      </p>
      <ul>
        <li>Remade & Keyboard by 김달우</li>
        <li>Arranged & Orchestrated by 김달우, 이나일</li>
      </ul>
    </div>
    <div class="col-xs-4">
      <iframe width="440" height="320" src="https://www.youtube.com/embed/lGPgZ3M9pRI"
      frameborder="0" gesture="media" allowfullscreen>
      </iframe>
    </div>

  </div>

<hr>

  <div class="row">
    <div class="col-xs-5">
      <h3>4.The Tune of Azure Light</h3>
      <p>
        This is a NEW song which is not released yet, it's from the new 4th region of
         Arcane River: Arcana "Mysterious Forest"! The mysterious feeling that flows through
          the tunes reminds me of the feeling of shyness spirits in a dense and majestic green forest.
      </p>
      <ul>
        <li>Written & Keyboard by 김가해</li>
        <li>Arranged & Orchestrated by 김가해, 이나일</li>
      </ul>
    </div>
    <div class="col-xs-4">
      <iframe width="440" height="320" src="https://www.youtube.com/embed/NKt5NMCyZvg"
      frameborder="0" gesture="media" allowfullscreen>
      </iframe>
    </div>

  </div>

<hr>

  <div class="row">
    <div class="col-xs-5">
      <h3>5.The Raindrop Flower</h3>
      <p>
        Like the flowers that grow with raindrops, it contains the freshness of the newborn
         knights who constantly devote themselves to training.
      </p>
      <ul>
        <li>Remade by 성상민, 박혜수</li>
        <li>Keyboard by 성상민</li>
        <li>Flute Solo by 권병호</li>
        <li>Arranged & Orchestrated by 성상민, 박혜수, 이나일</li>
      </ul>
    </div>
    <div class="col-xs-4">
      <iframe width="440" height="320" src="https://www.youtube.com/embed/v8aX4sQjSpU"
      frameborder="0" gesture="media" allowfullscreen>
      </iframe>
    </div>

  </div>

<hr>

  <div class="row">
    <div class="col-xs-5">
      <h3>6.The Queen's Garden</h3>
      <p>
        This is the main theme song of Ereve island 'Ereve'. It has a calm atmosphere
        that seems to envelope your heart warmly, and it feels comforting to hear it.
        The ensemble is a remarkable piece of music as the music is transposed in the
        latter half of the year.
      </p>
      <ul>
        <li>Remade by 성상민, 박혜수</li>
        <li>Keyboard by 성상민</li>
        <li>Arranged & Orchestrated by 성상민, 박혜수, 이나일</li>
      </ul>
    </div>
    <div class="col-xs-4">
      <iframe width="440" height="320" src="https://www.youtube.com/embed/wJhRzpdBiME"
      frameborder="0" gesture="media" allowfullscreen>
      </iframe>
    </div>

  </div>

<hr>

  <div class="row">
    <div class="col-xs-5">
      <h3>7.The Fantastic Thinking</h3>
      <p>
        What if there's a village where everything is made of toys?
        The theme of "Ludibrium" was revived in a brilliant orchestral waltz style!
      </p>
      <ul>
        <li>Remade & Keyboard by 채하나</li>
        <li>Arranged & Orchestrated by 채하나, 김바로</li>
      </ul>
    </div>
    <div class="col-xs-4">
      <iframe width="440" height="320" src="https://www.youtube.com/embed/9EPmrNriBKU"
      frameborder="0" gesture="media" allowfullscreen>
      </iframe>
    </div>

  </div>

<hr>

  <div class="row">
    <div class="col-xs-5">
      <h3>8. The Black Heaven</h3>
      <p>
        The main theme of MapleStory's first blockbuster 'Black Heaven'. You can feel
         the deep impression when you pass through the climax section that stirs up the
          calm and beautiful melody.
      </p>
      <ul>
        <li>Remade & Keyboard by 채하나</li>
        <li>Arranged & Orchestrated by 채하나, 김바로</li>
      </ul>
    </div>
    <div class="col-xs-4">
      <iframe width="440" height="320" src="https://www.youtube.com/embed/lmRMF8k4qgQ"
      frameborder="0" gesture="media" allowfullscreen>
      </iframe>
    </div>

  </div>

<hr>

  <div class="row">
    <div class="col-xs-5">
      <h3>9.The Shattered Time</h3>
      <p>
        The theme song of the Clock Tower of Nightmare is a popular dream city of Arcane River region.
        Through this project, it was reborn as an epic style orchestral music. Lucid's insecure inner self is
        deeply concealed in the mind while drawing the city of a festival that stayed on forever, by arranging
        the original guitar composed of electric guitar,
        filtered rhythm and dreamy piano melody with magnificent percussion and orchestral arrangement expressed.
      </p>
      <ul>
        <li>Written & Keyboard by 김달우</li>
        <li>Arranged & Orchestrated by 김달우, 이나일</li>
      </ul>
    </div>
    <div class="col-xs-4">
      <iframe width="440" height="320" src="https://www.youtube.com/embed/22gBrgYsqk8"
      frameborder="0" gesture="media" allowfullscreen>
      </iframe>
    </div>

  </div>

<hr>

  <div class="row">
    <div class="col-xs-5">
      <h3>10.Dancing with The Moon</h3>
      <p>
        It is the theme song of the legendary Phantom of Maple World, his personal 'Crystal Garden'.
        This album is full of originality and excitement, but thanks to its classical and elegant appearance,
        it is filled with diversity. The melodious
        and fast beat that rides through the tunes meets the large orchestra and shows a strong and dynamic energy.
      </p>
      <ul>
        <li>Remade & Keyboard by 김가해</li>
        <li>Arranged & Orchestrated by 김가해, 김바로</li>
      </ul>
    </div>
    <div class="col-xs-4">
      <iframe width="440" height="320" src="https://www.youtube.com/embed/29R5r93D1-4"
      frameborder="0" gesture="media" allowfullscreen>
      </iframe>
    </div>

  </div>

<hr>

  <div class="row">
    <div class="col-xs-5">
      <h3>11.An Eternal Breath (Vocal)</h3>
      <p>
        MapleStory content "Masteria Through Time" with it's music that had been loved by overseas
        players have been revived! This song, which means "An Eternal
        Breath" is a track that sings Latin love and agony that does not change even after a long period of time.
      </p>
      <ul>
        <li>Vocal by 은토 EUNTO</li>
        <li>Written & Keyboard by 김달우</li>
        <li>Arranged & Orchestrated by 김달우, 이나일</li>
        <li>Lyrics by 김달우</li>
        <li>Back Vocal 김현아</li>
      </ul>
    </div>
    <div class="col-xs-4">
      <iframe width="440" height="320" src="https://www.youtube.com/embed/rNVfwJM7nYY"
      frameborder="0" gesture="media" allowfullscreen>
      </iframe>
    </div>

  </div>

<hr>

  <div class="row">
    <div class="col-xs-5">
      <h3>12.An Eternal Breath (Instrumental)</h3>
      <p>
        ​MapleStory content "Masteria Through Time" with it's music that had been loved by overseas
        players have been revived! This song, which means "An Eternal Breath"
        is a track that sings Latin love and agony that does not change even after a long period of time.
      </p>
      <ul>
        <li>Written & Keyboard by 김달우</li>
        <li>Arranged & Orchestrated by 김달우, 이나일</li>
      </ul>
    </div>
    <div class="col-xs-4">
      <iframe width="440" height="320" src="https://www.youtube.com/embed/HKdOGhlZQr4"
      frameborder="0" gesture="media" allowfullscreen>
      </iframe>
    </div>

  </div>


{% endblock content %}
