{% extends 'ms_pages/base.html' %}

{% block content %}

  <p>
  <a href="{% url 'ms_pages:topic' topic.id %}">{{ topic }}</a>
  </p>
  <p>Add a new entry:</p>
  <form action="{% url 'ms_pages:new_entry' topic.id %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit">add entry</button>
  </form>

<br>

  <div class="form-group">
    <label>Upload file</label>
    <input type='file'>
    <p class='help-block'>You can upload png and jpg for image and etc.. for music</p>

  </div>

{% endblock content %}
