{% load bootstrap3 %}


  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MapleSnow</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/static_dirs/css/style.css' %}">
    <link rel="icon" href="{% static '/static_dirs/images/mapleleaf_001.png' %}">

  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default" style="">
      <div class="container">

        <div class="navbar-header">

        </div>

        <div class="navbar-collapse collapse">
          <ul id=high1 class="nav navbar-nav">
            <li><a href="{% url 'ms_pages:home' %}">

              MapleSnow
              <img src="{% static '/static_dirs/images/mapleleaf_001.png' %}" alt='' style='height:25px'>
            </a></li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a>Hello, {{ user.username }}.</a></li>
              <li><a href="{% url 'users:logout' %}">log out</a><li>
            {% else %}
              <li><a href="{% url 'users:register' %}">register</a></li>
              <li><a href="{% url 'users:login' %}">log in</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>



      <div class="jumbotron jumbotron-fluid bg-news" style='height: 720px'>
        <div class="container">

          <h1 class="display-3">News</h1>
          <p class="lead">You can find the latest big announcements and news regarding everything Maplestory
            related here!  </p>
          <hr class="my-4">
          <p>For more up to date in game patchs and events go check out Maplestory GMS official website,
            and For more news related to KMS as well as maplestory 2, go check out Orange Mushroom's Blogs</p>

          <div class="">

            <p class="lead col-md-3">
              <a class="btn btn-primary btn-lg" href="http://maplestory.nexon.net/" role="button">GMS Official Website</a>
            </p>
            <p class="lead col-md-3">
              <a class="btn btn-success btn-lg" href="https://orangemushroom.net/" role="button">Orange Mushroom's Blog</a>
            </p>

          </div>


        </div>
      </div>



      <br>
      <br>
      <div class="container">

        <h1 style='text-align: center'>Latest News and Announcement:</h1>

      </div>
      <br>
      <br>
      <br>

<div class="container">
  <ul>

    <li>
      <p>GMS new winter 2017 update NOVA coming soon! Two new classes Cadena and Illium and tons
        of new stuff coming!</p>
      <p>Find more here:
        <a href="http://maplestory.nexon.net/micro-site/nova">Details</a>
      </p>
    </li>

    <li><p>Maplestory 2 has been officially launched in China on September 2017!</p>
      <p>Find more here:
      <a href="http://2p.com/51335468_1/MapleStory-2-CN-Open-Beta-Registration-and-Download-Guide-by-Wei.htm">Details</a>
    </p>
    </li>



  </ul>
</div>


<br>
<br>
<hr>
<br>


<footer class="footer">
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6">
        <span class="text-muted">
          <p>MapleStory is copyright ©2003-2017 by Nexon corporation. Informations obtained
          from MapleSnow are applies to Nexon's Terms of Use.</p>
          <p>MapleSnow is a not-for-profit website aimed at providing MapleStory
            players the best possible information.</p>
          <p>A site by Wenchang Li</p>

        </span>
      </div>
      <div class="col-md-3">

      </div>

    </div>
  </footer>
