{% extends 'ms_pages/base.html' %}

{% block header %}
  <div class="container">
    <h1>{{ topic }}</h1>
  </div>
{% endblock header %}


{% block breadcrumb %}
  <section id='breadcrumb'>
    <div class="container">
      <ol class='breadcrumb'>
        <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
        <li class='active'><a href="{% url 'ms_pages:forum' %}">Forum</a></li>
        <li class='active'><a href="{% url 'ms_pages:forum_general_discussion' %}">General Discussion</a></li>
      </ol>
    </div>
  </section>
{% endblock breadcrumb %}





{% block content %}

<h2>Post your discussion for this topic, you can edit your own post at any time!</h2>

<br>
<hr>

<h3>
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <a style='color:black' href="{% url 'ms_pages:new_entry' topic.id %}">Add a new post</a>
</h3>

<br>

<div class="row">
  <div class="list-group">
    {% for entry in entries %}
      <p class='list-group-item color-bg-1'>
        Post by {{ topic.owner }} on {{ entry.date_added|date:'m/d, H:i' }}
      </p>
      <p class='list-group-item color-bg-2'>
        {{ entry.text }}
        <br>
        <br>
        <a style='color:white' href="{% url 'ms_pages:edit_entry' entry.id %}">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          edit entry
        </a>
      </p>
      <br>
    {% empty %}
      <p>No discussion yet.</p>
    {% endfor %}
  </div>

</div>



<!--
  <p>
    <a href="{% url 'ms_pages:new_entry' topic.id %}">Add a new entry</a>
  </p>
  <ul>
    {% for entry in entries %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
            {{ entry.date_added|date:'M d, Y H:i' }}
            <small>
              <a href="{% url 'ms_pages:edit_entry' entry.id %}">edit entry</a>
            </small>
          </h3>
        </div>
        <div class="panel-body">
          {{ entry.text|linebreaks }}
        </div>
      </div>
    </div>
    {% empty %}
      There are no entries for this topic yet.
    {% endfor %}
  </ul>
-->

{% endblock content %}
