{% extends 'ms_pages/base.html' %}

{% block header %}
  <h2>{{ topic }}</h2>
{% endblock header %}


{% block breadcrumb %}
  <section id='breadcrumb'>
    <div class="container">
      <ol class='breadcrumb'>
        <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
        <li class='active'><a href="{% url 'ms_pages:topics' %}">Topics</a></li>
        <li class='active'><a href="{% url 'ms_pages:topic' topic.id %}">{{ topic }}</a></li>
      </ol>
    </div>
  </section>
{% endblock breadcrumb %}





{% block content %}

  <p>{{ topic }}</p>
  <p>
    <a href="{% url 'ms_pages:new_entry' topic.id %}">Add a new entry</a>
  </p>
  <ul>
    {% for entry in entries %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
            {{ entry.date_added|date:'M d, Y H:i' }}
            <small>
              <a href="{% url 'ms_pages:edit_entry' entry.id %}">edit entry</a>
            </small>
          </h3>
        </div>
        <div class="panel-body">
          {{ entry.text|linebreaks }}
        </div>
      </div>
    </div><!--panel-->
    {% empty %}
      There are no entries for this topic yet.
    {% endfor %}
  </ul>

{% endblock content %}
