{% extends 'ms_pages/base.html' %}

{% block header %}
  <div class="container">
    <h1>Topics</h1>
  </div>
{% endblock header %}

{% block breadcrumb %}
  <section id='breadcrumb'>
    <div class="container">
      <ol class='breadcrumb'>
        <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
        <li class='active'><a href="{% url 'ms_pages:topics' %}">Topics</a></li>
      </ol>
    </div>
  </section>
{% endblock breadcrumb %}

{% block content %}

  <p>Topics:</p>

  <ul>
    {% for topic in topics %}
      <li>
        <h3>
          <a href="{% url 'ms_pages:topic' topic.id %}">{{ topic }}</a>
        </h3>
      </li>
    {% empty %}
      <li>No topics have been added yet</li>
    {% endfor %}

  </ul>
  <h3>
    <a href="{% url 'ms_pages:new_topic' %}">Add a new topic</a>
  </h3>

{% endblock content %}
