body{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	overflow-x: hidden;
	background-color:#white;
	color:black;

}

.page-header{
/*
	background-image: url('../images/mapleleaf_001.png')!important;
	background-size: 5%!important;
	background-repeat: no-repeat!important;
	background-position: left!important;
*/
	background-color: #ae3d1d!important;
}

/* Navbar */
.navbar-default {
	/*background-image: url('../images/mapleleaf_001.png')!important;
	background-size: 3%;
	background-repeat: no-repeat;
	background-position: 130px 5px; */
	background-color: black!important;
	border-color: black;

/*
  background-color: #ae3d1d;

  border-color: #cc4326;
*/
	margin-bottom: 0px;
	border-radius: 0px;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffa4b8;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffa4b8;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffa4b8;
  background-color: #cc4326;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffa4b8;
  background-color: #cc4326;
}
.navbar-default .navbar-toggle {
  border-color: #cc4326;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #cc4326;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffa4b8;
}

/* custom */
.color-bg-1{
	background-color: #ae3d1d!important;
	border-color: #cc4326;
	color:white!important;
}

.color-bg-2{
	background-color:#333333;
	border-color: #333333;
	color:white!important;
}

/* Header */
.page-header {
	background:#333333;
	color:#ffffff;
	padding-bottom: 10px;
	margin-bottom: 15px;
	margin-top: 0px;
}

/* breadcrumb */
.breadcrumb{
	background:#cccccc;
	color:black;
}

.breadcrumb a{
	color:black;
}

.breadcrumb > li + li:before {
    color: black;
    content: "- ";
    padding: 0 5px;

}


/* jumbotron */
.jumbotron.bg-mapleleaf-001{
/*
	margin-top:0px;
	margin-bottom: 0px;
*/
	background-image: url('../images/mapleleaf_001.png');
	background-size: cover; /*75%*/
	background-position: bottom;
/*
	opacity: 0.82;
*/
	color: white;

}

.jumbotron.bg-mapleleaf-002{

	background-image: url('../images/mapleleaf_004.jpg');
	background-size: cover; /* 200% */
	background-position: bottom;
	opacity: 0.72;
	color: black;

}

.jumbotron.bg-ms2-home{

	background-image: url('../images/home_ms2_003.jpg');
	background-size: cover;
	background-position: bottom;
	opacity: 0.72;
	color: black;

}

.jumbotron.bg-itcg-home{

	background-image: url('../images/home_itcg_003.png');
	background-size: cover;
	background-position: left;
	opacity: 0.87;
	color: white;

}

.jumbotron.bg-bgm-home{

	background-image: url('../images/home_bgm_004.jpg');
	background-size: cover;
	background-position: right;
	opacity: 0.67;
	color: white;

}

.jumbotron.bg-db-home{

	background-image: url('../images/home_ingamedb_002.png');
	background-size: 20%;
	background-position: bottom;
	opacity: 0.67;
	color: black;

}

.jumbotron.bg-underconstruction{

	background-image: url('../images/forum_underconstruction_001.png');
	background-size: 35%;
	background-repeat: no-repeat;
	background-position: right;
	opacity: 0.67;
	color: black;

}

.jumbotron.bg-home{

	background-image: url('../images/home_004.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	opacity: 0.99;
	color:black;

}

.jumbotron.bg-db{

	background-image: url('../images/home_002.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	opacity: 0.99;
	color:white;

}

.jumbotron.bg-bgm{

	background-image: url('../images/home_008.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	opacity: 0.99;
	color:black;

}

.jumbotron.bg-ms2{

	background-image: url('../images/home_006.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	opacity: 0.99;
	color:white;

}

.jumbotron.bg-news{

	background-image: url('../images/home_011.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	opacity: 0.99;
	color:white;

}

.jumbotron.bg-itcg{

	background-image: url('../images/home_009.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	opacity: 0.99;
	color:#222222;

}

.jumbotron.bg-itcg-set1{

	background-image: url('../images/itcg_set1.png');
	background-size: 100%;
	background-repeat: repeat;
	background-color: black;
	background-position: right;
	opacity: 0.89;
	color:white;

}

.jumbotron.bg-itcg-set2{

	background-image: url('../images/itcg_set2.png');
	background-size: 100%;
	background-repeat: repeat;
	background-color: black;
	background-position: right;
	opacity: 0.89;
	color:white;

}

.jumbotron.bg-itcg-set3{

	background-image: url('../images/itcg_set3.gif');
	background-size: 100%;
	background-repeat: repeat;
	background-color: black;
	background-position: right;
	opacity: 0.89;
	color:white;

}

.jumbotron.bg-itcg-set4{

	background-image: url('../images/itcg_set4.bmp');
	background-size: 100%;
	background-repeat: repeat;
	background-color: black;
	background-position: right;
	opacity: 0.89;
	color:white;

}

.jumbotron.bg-itcg-set5{

	background-image: url('../images/itcg_set5.png');
	background-size: 100%;
	background-repeat: repeat;
	background-color: black;
	background-position: right;
	opacity: 0.89;
	color:white;

}

.jumbotron.bg-forum{

	background-image: url('../images/home_010.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	opacity: 0.99;
	color:white;

}





@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffa4b8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffa4b8;
    background-color: #cc4326;
  }
}
