{% extends 'ms_pages/base.html' %}
{% load bootstrap3 %}



{% block header %}

<div class="container">
  <h1>Log in</h1>
</div>

{% endblock header %}



{% block breadcrumb %}

<section id='breadcrumb'>
  <div class="container">
    <ol class='breadcrumb'>
      <li class='active'><a href="{% url 'ms_pages:home' %}">Home</a></li>
      <li>Log in</li>

    </ol>
  </div>
</section>

{% endblock breadcrumb %}



{% block content %}

  <form method="post" action="{% url 'users:login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
      <button name="submit" class="btn btn-primary">log in</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'ms_pages:forum_general_discussion' %}" />
  </form>

{% endblock content %}
